/*syling div maincontainer*/
div#divmaincontainer{
  width: 80%;
  margin: auto;
  /* border: 1px solid turquoise;*/
}

  /* styling the border of the site*/
header#siteheader{
  width: 100%;
  height: 150px;
  background-image: linear-gradient(pinkblue,purple,teal)
  border:1px solid darkgrey
}
  
  
